<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="darren.gcptts">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.STORAGE" />

    <application
        android:allowBackup="false"
        android:fullBackupOnly="false"
        android:icon="@drawable/adminicon"
        android:label="Papanews-Admin"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".main.Review_news"></activity>
        <activity
            android:name=".main.firstPage"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.miscellaneous" />
        <activity android:name=".main.influences" />
        <activity android:name=".main.international" />
        <activity android:name=".main.Accept" /> <!-- <activity android:name=".main.MainActivity" /> -->
        <activity
            android:name=".main.EditData"
            android:label="@string/title_activity_edit_data"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".main.savedPosts"
            android:label="@string/title_activity_saved_posts"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".main.entertainActivity"
            android:label="@string/title_activity_saved_posts"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".main.politicsActivity"
            android:label="@string/title_activity_saved_posts"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".main.startupActivity"
            android:label="@string/title_activity_saved_posts"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".main.sportsActivity"
            android:label="@string/title_activity_saved_posts"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".main.BusinessActivity"
            android:label="@string/title_activity_saved_posts"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".main.TechActivity"
            android:label="@string/title_activity_saved_posts"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".main.userUploads"
            android:label="@string/title_activity_saved_posts"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".main.MainActivity"
            android:label="@string/title_activity_saved_posts"
            android:theme="@style/Theme.Design.NoActionBar" />
    </application>

</manifest>